<% Title = "Create Topic" %>

<div class="container  w-50 mt-5 mb-5">
  <form method="post" action="/topic/create">
    <div class="form-group">
      <label for="name">Topic name</label>
      <input name="name" type="text" class="form-control" id="name" placeholder="Enter type name">
    </div>
    <input type="submit" class="btn btn-primary" value="Create">
    <a href="/topic" class="ml-2 btn btn-secondary">Back to list</a>

  </form>
</div>