<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Meta Responsive tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--Custom style.css-->

    <link rel="stylesheet" href="/css/styleLoginPage.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
        integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login</title>
</head>


<body class="login-body">
    <!--Login Wrapper-->
    <div class="container-fluid login-wrapper">
        <div class="login-box">
            <h1 class="text-center mb-5">Eventalk.</h1>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12 login-box-info">
                    <h3 class="mb-4">Sign up</h3>
                    <p class="mb-4">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                    <p class="text-center"><a href="/user/signup" class="btn btn-light">Register here</a></p>
                </div>
                <div class="col-md-6 col-sm-6 col-12 login-box-form p-4">
                    <h3 class="mb-2">Login</h3>
                    <small class="text-muted bc-description">Sign in with your credentials</small>
                    <form method="POST" class="mt-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control mt-0" name="email" id="email" value=""
                                placeholder="Useremail" aria-label="email" aria-describedby="basic-addon1">
                            <span id="error-email"> </span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="Password" id="password" name="password" value="" class="form-control mt-0"
                                placeholder="password" aria-label="password" aria-describedby="basic-addon1">

                            <span id="error-password"> </span>

                        </div>
                        <div class="form-group">
                            <button class="btn btn-theme btn-block p-2 mb-1" type="submit"> Login</button>
                            <a href="#">
                                <small class="text-theme"><strong>Forgot password?</strong></small>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>


        const errorphone = document.getElementById('error-password');
        document.getElementById('phone').addEventListener('keyup', () => {
            let phone = document.getElementById('phone').value;
            if (phone.length == 0) {
                errorphone.innerHTML = 'Phone is requried';
                return false;
            }
            if (phone.length < 8) {
                errorphone.innerHTML = 'Phone on should be 8 digite ';
                return false;
            }
            if (!phone.match(/^[0-9]{10}[A-Za-z]*\S{1}[A - Za - z] $/)) {
                errorphone.innerHTML = 'only digits please .';
                return false;
            }
            errorphone.innerHTML = '<i>&#xf058;</i>';
            return true;

        })

        const errorEmail = document.getElementById('error-email');
        document.getElementById('email').addEventListener('keyup', () => {
            let email = document.getElementById('email').value;
            if (email.length == 0) {
                errorEmail.innerHTML = 'Email is requried';
                return false;
            }
            if (!email.match(/^[A-Za-z]\._\-[0-9]*[@][A - Za - z]*[\.][a-z]{2,4}$/)) {
                errorEmail.innerHTML = 'Email Invalid';
                return false;
            }
            errorphone.innerHTML = '<i>&#xf058;</i>';
            return true;
        })
    </script>

    <!--Login Wrapper-->

    <!--Bootstrap-->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>